section.main aside.notifications {
  display: none;
  background-color: #EAEAF4;
  height: 100vh;
  width: 400px;
  position: fixed;
  left: 100px;
  top: 0;
  padding: 4.5rem 2rem;
  z-index: 2;
  border-left: 2px solid rgba(85, 85, 85, 0.2);
}
section.main aside.notifications h2 {
  margin-bottom: 40px;
}
section.main aside.notifications .notificacaoSingle {
  align-items: center;
  border-bottom: 2px solid white;
  padding: 10px 0;
  width: 100%;
}
section.main aside.notifications .notificacaoSingle .img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 15px;
}
section.main aside.notifications .notificacaoSingle .img img {
  width: 100%;
  max-width: 100%;
  border-radius: 50%;
}
section.main aside.notifications .notificacaoSingle p {
  font-weight: bold;
}
section.main aside.notifications .notificacaoSingle .actionBtn {
  margin-top: 10px;
}
section.main aside.notifications .notificacaoSingle .actionBtn button {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 10px;
  border: 0;
  color: #EBEBEB;
  cursor: pointer;
}
section.main aside.notifications .notificacaoSingle .actionBtn .accept {
  background-color: #75f049;
}
section.main aside.notifications .notificacaoSingle .actionBtn .cancel {
  background-color: #e96464;
}
section.main aside.mainAside {
  position: fixed;
  width: 300px;
  text-align: center;
  padding: 2rem 4rem;
}
section.main aside.mainAside h1 {
  color: #444294;
  font-size: 1.6rem;
}
section.main aside.mainAside .menu {
  margin-top: 30px;
  text-align: left;
  font-family: 'Raleway' !important;
}
section.main aside.mainAside .menu p {
  font-weight: bold;
  color: #454545;
}
section.main aside.mainAside .menu ul {
  list-style: none;
}
section.main aside.mainAside .menu ul li {
  margin: 25px 0;
}
section.main aside.mainAside .menu ul li.selected {
  font-weight: bold;
}
section.main aside.mainAside .menu ul li a {
  color: #454545;
  text-decoration: none;
  display: flex;
  align-items: center;
}
section.main aside.mainAside .menu ul li a .group {
  position: relative;
}
section.main aside.mainAside .menu ul li a .badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #e96464;
}
section.main aside.mainAside .menu ul li a i {
  margin-right: 10px;
  font-size: 1.3rem;
}
section.main .content {
  margin-left: 300px;
  width: 80%;
  padding: 2rem 0;
}
section.main .content > .flex {
  align-items: flex-start;
  justify-content: space-between;
}
section.main .content section.myPhotos {
  width: 34%;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}
section.main .content section.myPhotos > p {
  font-weight: bold;
}
section.main .content section.myPhotos .images {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}
section.main .content section.myPhotos .images .big {
  width: 100% !important;
}
section.main .content section.myPhotos .images .image {
  width: 167px;
  height: 167px;
  background-color: #ccc;
  margin-bottom: 15px;
}
section.main .content section.myPhotos .images .image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 5px;
}
