section.user {
  margin-bottom: 2rem;
}
section.user .userInfo {
  margin-bottom: 2rem;
  align-items: center;
  position: relative;
}
section.user .userInfo .imgPerfil {
  width: 173px;
  height: 173px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: relative;
}
section.user .userInfo .imgPerfil img {
  max-width: 100%;
  width: 100%;
  border-radius: 50%;
}
section.user .userInfo .imgPerfil .editFoto {
  display: none;
  position: absolute;
  text-align: center;
  opacity: 1 !important;
}
section.user .userInfo .imgPerfil .editFoto i {
  font-size: 2rem;
}
section.user .userInfo .info {
  align-items: flex-start;
  width: 80%;
}
section.user .userInfo .info .group {
  width: 40%;
}
section.user .userInfo .info button {
  background-color: #ccc;
  color: #454545;
  border: 1px solid #454545;
  padding: .3rem;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 15px;
  font-weight: bold;
  opacity: .5;
  width: 100px;
}
section.user .userInfo .info h2 {
  color: #454545;
}
section.user .userInfo .info .bio {
  margin-top: 20px;
  margin-left: 15px;
  color: #454545;
  opacity: 60%;
}
section.user .userPhotos .photoSingle {
  flex-shrink: 0;
  width: 181px;
  height: 181px;
  background-color: #ccc;
  margin-right: 20px;
}
section.user .userPhotos .photoSingle img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 5px;
}
section.user .userPhotos .big {
  width: 382px !important;
}
