@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
body,
html {
  height: 100%;
}
body {
  background: linear-gradient(to right, #eaeaf4 0%, #eaeaf4 300px, #f6f6f9 300px, #f6f6f9 100%);
  overflow-x: hidden;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.overlay,
.overlayFix {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}
.overlayFix {
  display: block;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form.newPost {
  display: none;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 60%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
form.newPost .top {
  padding: .8rem;
  border-bottom: 1px solid #454545;
  text-align: center;
  position: relative;
}
form.newPost .top button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  left: .8rem;
  top: .8rem;
}
form.newPost .top input {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #5085E8;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  right: .8rem;
  top: 1rem;
}
form.newPost .fields {
  padding: .8rem;
  height: 300px;
}
form.newPost .fields .imageField {
  width: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form.newPost .fields .imageField h5 {
  color: #ccc;
}
form.newPost .fields .imageField label {
  font-size: 3rem;
  color: #ccc;
  cursor: pointer;
}
form.newPost .fields textarea {
  width: 60%;
  resize: none;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 1rem;
}
section.erro {
  color: #444294;
  font-size: 2rem;
  top: 30%;
  font-weight: normal;
}
section.erro i {
  margin-right: 10px;
}
section.forgotPassword {
  background-color: white;
  padding: .8rem;
  border-radius: 15px;
  width: 60%;
  max-width: 600px;
  border: 1px solid black;
  text-align: center;
}
section.forgotPassword form {
  margin-top: 20px;
}
section.forgotPassword form .group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
}
section.forgotPassword form .group label {
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 5px;
}
section.forgotPassword form .group input {
  height: 35px;
  padding-left: 1rem;
  border-radius: 15px;
  border: 1px solid #ccc;
}
section.forgotPassword form input[type=submit] {
  width: 250px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #2B2962;
  color: white;
  font-weight: bold;
  border: 0;
  font-size: 1.05rem;
}
section.forgotPassword form .passwordBox {
  position: relative;
}
section.forgotPassword form .passwordBox label {
  position: absolute;
  top: 8px;
  right: 15px;
  cursor: pointer;
}
section.forgotPassword form .passwordBox input {
  width: 100%;
  height: 35px;
}
section.loginBox {
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
section.loginBox .info {
  width: 50%;
}
section.loginBox .info h1 {
  font-size: 3.5rem;
  font-weight: normal;
  color: #444294;
}
section.loginBox .info p {
  color: #555555;
}
section.loginBox form {
  text-align: center;
  width: 45%;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
}
section.loginBox form .passwordBox {
  position: relative;
}
section.loginBox form .passwordBox label {
  position: absolute;
  top: 14px;
  right: 15px;
  cursor: pointer;
}
section.loginBox form .forgotPassword {
  text-align: right;
  font-size: .8rem;
  margin-bottom: 10px;
}
section.loginBox form input,
section.loginBox form select {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #EBEBEB;
  border-bottom: 3px solid #D3D8E067;
  height: 45px;
  margin-bottom: 10px;
  padding-left: 1rem;
  display: block;
}
section.loginBox form input[type=submit] {
  background-color: #444294;
  border: 0;
  cursor: pointer;
  border-bottom: 3px solid #2B2962;
  color: white;
  text-align: center !important;
  font-weight: bold;
  padding-left: 0;
}
section.loginBox form .flex {
  justify-content: space-between;
}
section.loginBox form .flex input,
section.loginBox form .flex select {
  width: 49%;
}
section.loginBox form a {
  color: #444294;
  font-weight: bold;
}
.carrosselBtn button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: #ebebeb;
  color: #454545;
  cursor: pointer;
  opacity: .7;
}
section.main aside.notifications {
  display: none;
  background-color: #EAEAF4;
  height: 100vh;
  width: 400px;
  position: fixed;
  left: 100px;
  top: 0;
  padding: 4.5rem 2rem;
  z-index: 2;
  border-left: 2px solid rgba(85, 85, 85, 0.2);
}
section.main aside.notifications h2 {
  margin-bottom: 40px;
}
section.main aside.notifications .notificacaoSingle {
  align-items: center;
  border-bottom: 2px solid white;
  padding: 10px 0;
  width: 100%;
}
section.main aside.notifications .notificacaoSingle .img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 15px;
}
section.main aside.notifications .notificacaoSingle .img img {
  width: 100%;
  max-width: 100%;
  border-radius: 50%;
}
section.main aside.notifications .notificacaoSingle p {
  font-weight: bold;
}
section.main aside.notifications .notificacaoSingle .actionBtn {
  margin-top: 10px;
}
section.main aside.notifications .notificacaoSingle .actionBtn button {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 10px;
  border: 0;
  color: #EBEBEB;
  cursor: pointer;
}
section.main aside.notifications .notificacaoSingle .actionBtn .accept {
  background-color: #75f049;
}
section.main aside.notifications .notificacaoSingle .actionBtn .cancel {
  background-color: #e96464;
}
section.main aside.mainAside {
  position: fixed;
  width: 300px;
  text-align: center;
  padding: 2rem 4rem;
}
section.main aside.mainAside h1 {
  color: #444294;
  font-size: 1.6rem;
}
section.main aside.mainAside .menu {
  margin-top: 30px;
  text-align: left;
  font-family: 'Raleway' !important;
}
section.main aside.mainAside .menu p {
  font-weight: bold;
  color: #454545;
}
section.main aside.mainAside .menu ul {
  list-style: none;
}
section.main aside.mainAside .menu ul li {
  margin: 25px 0;
}
section.main aside.mainAside .menu ul li.selected {
  font-weight: bold;
}
section.main aside.mainAside .menu ul li a {
  color: #454545;
  text-decoration: none;
  display: flex;
  align-items: center;
}
section.main aside.mainAside .menu ul li a .group {
  position: relative;
}
section.main aside.mainAside .menu ul li a .badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #e96464;
}
section.main aside.mainAside .menu ul li a i {
  margin-right: 10px;
  font-size: 1.3rem;
}
section.main .content {
  margin-left: 300px;
  width: 80%;
  padding: 2rem 0;
}
section.main .content > .flex {
  align-items: flex-start;
  justify-content: space-between;
}
section.main .content section.posts {
  width: 64%;
}
section.main .content .postSingle {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 25px;
  position: relative;
}
section.main .content .postSingle .openOptions {
  position: absolute;
  right: 1rem;
  background: transparent;
  border: 0;
  color: #454545;
  font-size: 1.2rem;
  opacity: 44%;
  cursor: pointer;
  display: none;
}
section.main .content .postSingle .options {
  background-color: #282828;
  width: 30%;
  padding: .3rem;
  border-radius: 20px;
  position: absolute;
  right: calc(-15% + 2rem);
  display: none;
  top: 3rem;
}
section.main .content .postSingle .options ul {
  list-style: none;
  list-style-position: inside;
}
section.main .content .postSingle .options ul li {
  text-align: center;
}
section.main .content .postSingle .options ul li button {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #D3D8E0;
}
section.main .content .postSingle .options ul li button i {
  margin-right: 15px;
}
section.main .content .postSingle .user {
  align-items: center;
}
section.main .content .postSingle .user .userInfo a {
  color: black;
  text-decoration: none;
}
section.main .content .postSingle .user .userInfo a:hover {
  text-decoration: underline;
}
section.main .content .postSingle .user .userInfo span {
  color: #454545;
  opacity: 44%;
}
section.main .content .postSingle .user .img {
  background-color: #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
section.main .content .postSingle .user .img img {
  width: 100%;
  max-width: 100%;
  border-radius: 50%;
}
section.main .content .postSingle .info {
  margin: 25px 0;
  position: relative;
}
section.main .content .postSingle .info .carrosselBtn {
  top: 55% !important;
  position: absolute;
  width: 100%;
  margin-left: .5%;
  transform: translateY(-50%);
  justify-content: space-between;
  z-index: 1;
}
section.main .content .postSingle .info .images {
  margin-top: 15px;
  overflow: hidden;
  position: relative;
}
section.main .content .postSingle .info .image {
  flex-shrink: 0 ;
  width: 264px;
  height: 264px;
  margin-right: 20px;
}
section.main .content .postSingle .info .image img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
}
section.main .content .postSingle .actionBtn button {
  background: transparent;
  border: 0;
  font-size: 1.5rem;
  margin-right: 20px;
  color: #D3D8E0;
  cursor: pointer;
}
section.main .content .postSingle .actionBtn button i {
  margin-right: 10px;
}
section.main .content .postSingle .open {
  display: block;
}
section.main .content .postSingle .closed {
  display: none;
}
section.main .content .postSingle .comments {
  margin-top: 10px;
  padding-top: 10px;
}
section.main .content .postSingle .comments form {
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
}
section.main .content .postSingle .comments form textarea {
  height: 60px;
  width: 90%;
  border-radius: 15px;
  padding: 1rem;
  border: 1px solid #ccc;
  resize: none;
}
section.main .content .postSingle .comments form label {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #454545;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.main .content .postSingle .comments h3 {
  color: #555555;
  margin-bottom: 15px;
}
section.main .content .postSingle .comments .commentSingle {
  align-items: center;
  border-top: 1px solid #D3D8E0;
  padding: 10px 0;
  margin-top: 15px;
}
section.main .content .postSingle .comments .commentSingle .commentImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 15px;
}
section.main .content .postSingle .comments .commentSingle .commentImg img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 50%;
}
section.main .content .postSingle .comments .commentSingle .commentInfo a {
  color: #454545;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}
section.main .content .postSingle .comments .commentSingle .commentInfo a:hover {
  text-decoration: underline;
}
section.main .content .postSingle .comments .commentSingle .commentInfo span {
  color: #454545;
  opacity: 44%;
}
section.main .content .postSingle .comments .commentSingle .commentActions {
  margin-left: 55px;
}
section.main .content .postSingle .comments .commentSingle .commentActions button {
  font-size: 1.3rem !important;
  color: #969aa0 !important;
  margin-right: 10px !important;
}
section.main .content .postSingle .comments .commentSingle .commentActions .like-comment i {
  margin-right: 5px !important;
}
section.main .content .postSingle .comments .commentSingle .commentActions .show {
  font-size: 1rem !important;
  text-decoration: underline;
}
section.main .content .postSingle .comments .commentSingle .replyComment {
  margin-top: 15px;
}
section.main .content section.myPhotos {
  width: 34%;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}
section.main .content section.myPhotos > p {
  font-weight: bold;
}
section.main .content section.myPhotos .images {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}
section.main .content section.myPhotos .images .big {
  width: 100% !important;
}
section.main .content section.myPhotos .images .image {
  width: 167px;
  height: 167px;
  background-color: #ccc;
  margin-bottom: 15px;
}
section.main .content section.myPhotos .images .image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 5px;
}
section.main .content section.user {
  margin-bottom: 2rem;
}
section.main .content section.user .userInfo {
  margin-bottom: 2rem;
  align-items: center;
  position: relative;
}
section.main .content section.user .userInfo .imgPerfil {
  width: 173px;
  height: 173px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: relative;
}
section.main .content section.user .userInfo .imgPerfil img {
  max-width: 100%;
  width: 100%;
  border-radius: 50%;
}
section.main .content section.user .userInfo .imgPerfil .editFoto {
  display: none;
  position: absolute;
  text-align: center;
  opacity: 1 !important;
}
section.main .content section.user .userInfo .imgPerfil .editFoto i {
  font-size: 2rem;
}
section.main .content section.user .userInfo .info {
  align-items: flex-start;
  width: 80%;
}
section.main .content section.user .userInfo .info .group {
  width: 40%;
}
section.main .content section.user .userInfo .info button {
  background-color: #ccc;
  color: #454545;
  border: 1px solid #454545;
  padding: .3rem;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 15px;
  font-weight: bold;
  opacity: .5;
  width: 100px;
}
section.main .content section.user .userInfo .info h2 {
  color: #454545;
}
section.main .content section.user .userInfo .info .bio {
  margin-top: 20px;
  margin-left: 15px;
  color: #454545;
  opacity: 60%;
}
section.main .content section.user .carrosselBtn {
  position: absolute;
  top: 330px;
  margin-left: .5%;
  width: 77%;
  justify-content: space-between;
}
section.main .content section.user .userPhotos .photoSingle {
  flex-shrink: 0;
  width: 181px;
  height: 181px;
  background-color: #ccc;
  margin-right: 20px;
}
section.main .content section.user .userPhotos .photoSingle img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 5px;
}
section.main .content section.user .userPhotos .big {
  width: 382px !important;
}
section.userInfo > h2 {
  color: #454545;
}
section.userInfo > .flex {
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
section.userInfo div.ultimosPosts {
  width: 64% !important;
  margin-top: 30px;
}
section.userInfo div.ultimosPosts form {
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
}
section.userInfo div.ultimosPosts form textarea {
  height: 60px;
  width: 90%;
  border-radius: 15px;
  padding: 1rem;
  border: 1px solid #ccc;
  resize: none;
}
section.userInfo div.ultimosPosts form label {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #454545;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.userInfo div.ultimosPosts .info {
  position: relative;
}
section.userInfo div.ultimosPosts .info .carrosselBtn {
  top: 55% !important;
  width: 100% !important;
}
section.userInfo .commentActions {
  margin-left: 55px;
}
section.userInfo .commentActions button {
  font-size: 1.3rem !important;
  color: #969aa0 !important;
  margin-right: 10px !important;
}
section.userInfo .commentActions .like-comment i {
  margin-right: 5px !important;
}
section.userInfo .commentActions .show {
  font-size: 1rem !important;
  text-decoration: underline;
}
section.userInfo .replyComment {
  margin-top: 15px;
}
section.myFriends {
  width: 34%;
  margin-top: 30px;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}
section.myFriends > p {
  font-weight: bold;
  margin-bottom: 20px;
  color: #454545;
}
section.myFriends .amigos {
  text-align: center;
}
section.myFriends .amigos .amigoSingle {
  align-items: center;
  margin-bottom: 20px;
}
section.myFriends .amigos .amigoSingle .amigoImg {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 15px;
}
section.myFriends .amigos .amigoSingle .amigoImg img {
  width: 100%;
  max-width: 100%;
  border-radius: 50%;
}
section.myFriends .amigos .amigoSingle .amigoInfo {
  text-align: left;
  margin-left: 10px;
}
section.myFriends .amigos .amigoSingle .amigoInfo p {
  font-size: 1.1rem;
  font-weight: bold;
}
section.myFriends .amigos .amigoSingle .amigoInfo p a {
  color: #454545;
  text-decoration: none;
}
section.myFriends .amigos .amigoSingle .amigoInfo p a:hover {
  text-decoration: underline;
}
section.myFriends .amigos .amigoSingle .amigoInfo span {
  color: #454545;
  opacity: 44%;
}
section.myFriends .amigos a {
  margin-top: 15px;
  opacity: 80%;
  color: #5085E8;
  text-decoration: none;
  font-weight: bold;
}
h2.friendTitle {
  color: #454545;
  margin-left: 1.8rem;
}
.searchForm {
  margin: 1.5rem 1.8rem;
}
.searchForm input {
  padding-left: 1rem;
  height: 35px;
  width: 100%;
  border: 1px solid #454545;
  border-radius: 5px;
}
section.friends .amigos {
  margin-top: 30px;
  flex-wrap: wrap;
}
section.friends .amigos .add {
  align-items: center;
}
section.friends .amigos .add button {
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  font-size: 2rem;
  color: #5085E8;
}
section.friends .amigos .add button:disabled {
  cursor: default !important;
}
section.friends .amigos .amigoSingle {
  width: 350px;
  margin-right: 1.5%;
  background-color: white;
  height: 133px;
  margin-bottom: 30px;
  align-items: center;
}
section.friends .amigos .amigoSingle .flex {
  align-items: center;
  justify-content: space-between;
}
section.friends .amigos .amigoSingle .deleteFriend {
  background-color: #e96464;
  color: white;
  border: 0;
  font-size: .9rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
section.friends .amigos .amigoSingle .img {
  height: 133px;
  width: 133px;
  background-color: #ccc;
  margin-right: 20px;
}
section.friends .amigos .amigoSingle .img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 5px;
}
section.friends .amigos .amigoSingle .info {
  width: 150px;
}
section.friends .amigos .amigoSingle .info p {
  font-weight: bold;
  font-size: 1.3rem;
}
section.friends .amigos .amigoSingle .info p a {
  color: #454545;
  text-decoration: none;
}
section.friends .amigos .amigoSingle .info p a:hover {
  text-decoration: underline;
}
section.friends .amigos .amigoSingle .info span {
  color: #454545;
  opacity: 44%;
}
form.editPerfilForm {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  z-index: 3;
  width: 60%;
  max-width: 1000px;
}
form.editPerfilForm .top {
  padding: .8rem;
  margin-bottom: 15px;
  border-bottom: 1px solid #454545;
  text-align: center;
  position: relative;
}
form.editPerfilForm .top button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  left: .8rem;
  top: .8rem;
}
form.editPerfilForm .top input {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #5085E8;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  right: .8rem;
  top: 1rem;
}
form.editPerfilForm .flex {
  justify-content: space-between;
  padding-bottom: .8rem;
}
form.editPerfilForm .field {
  text-align: center;
  width: 49%;
}
form.editPerfilForm .field .group {
  margin-right: .8rem;
}
form.editPerfilForm .field .group h4,
form.editPerfilForm .field .group input {
  margin-bottom: 15px;
}
form.editPerfilForm .field .group input {
  height: 35px;
  width: 100%;
  padding-left: 1rem;
}
form.editPerfilForm .field .passwordBox {
  position: relative;
}
form.editPerfilForm .field .passwordBox label {
  position: absolute;
  top: 9px;
  right: 15px;
  cursor: pointer;
}
form.editPerfilForm .field .textareaField {
  position: relative;
}
form.editPerfilForm .field .textareaField span {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  color: #ccc;
}
form.editPerfilForm .field textarea {
  width: calc(100% - 1.6rem);
  border: 1px solid #ccc;
  resize: none;
  border-radius: 15px;
  height: 180px;
  margin-top: 15px;
  padding: 1rem;
}
form.editFotoForm {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  z-index: 3;
  width: 60%;
  max-width: 500px;
}
form.editFotoForm .top {
  padding: .8rem;
  border-bottom: 1px solid #454545;
  text-align: center;
  position: relative;
}
form.editFotoForm .top button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  left: .8rem;
  top: .8rem;
}
form.editFotoForm .top input,
form.editFotoForm .top a {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #5085E8;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  right: .8rem;
  top: 1rem;
}
form.editFotoForm .top .cancel {
  color: #7e0a0a;
  font-weight: bold;
  text-decoration: underline;
}
form.editFotoForm .fields {
  height: 250px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #555555;
}
form.editFotoForm .fields label {
  font-size: 4rem;
  cursor: pointer;
}
form.editFotoForm .imgPreview {
  display: none;
  height: 250px;
  justify-content: center;
  align-items: center;
}
form.editFotoForm .imgPreview .preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ccc;
}
form.editFotoForm .imgPreview .preview img {
  max-width: 100%;
  border-radius: 50%;
}
section.autenticateBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
  z-index: 2;
  width: 600px;
  min-height: 250px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
section.autenticateBox .centerbox {
  text-align: center;
}
section.autenticateBox p {
  margin-bottom: 25px;
  font-size: 1.1rem;
}
section.autenticateBox input {
  width: 60%;
  height: 45px;
  text-align: center;
  font-size: 1.5rem;
}
section.autenticateBox a {
  display: block;
  margin-top: 15px;
}
