.form-primary {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
.form-primary .top {
  padding: .8rem;
  border-bottom: 1px solid #454545;
  text-align: center;
  position: relative;
}
.form-primary .top button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  left: .8rem;
  top: .8rem;
}
.form-primary .top input {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #5085E8;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  right: .8rem;
  top: 1rem;
}
.form-primary .fields {
  padding: .8rem;
}
.form-primary .fields .imageField {
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-primary .fields .imageField h5 {
  color: #ccc;
}
.form-primary .fields .imageField label {
  font-size: 3rem;
  color: #ccc;
  cursor: pointer;
}
.form-primary .fields .imageField .images {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.form-primary .fields .imageField .images .image {
  flex-shrink: 0 ;
  width: 90%;
  margin-right: 10%;
  position: relative;
}
.form-primary .fields .imageField .images .image .remove {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  font-weight: bold;
  font-size: 1.2rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #c25668;
  color: white;
  cursor: pointer;
  display: none;
  opacity: .4;
}
.form-primary .fields .imageField .images .image img {
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
}
.form-primary .fields textarea {
  width: 60%;
  resize: none;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 1rem;
}
